<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" dest="err">
    <Appenders>
        <Console name="STD" target="SYSTEM_OUT">
            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
            <PatternLayout pattern="%-5p %d: %c{2} - %m - (%r)%n" />
        </Console>
        <Console name="ERR" target="SYSTEM_ERR">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%-5p[%t] %d: %c{2}.%M Zeile:%L - %m - (%r)%n" />
        </Console>
        <Async name="ASYNC">
            <AppenderRef ref="STD" />
        </Async>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="ERR" />
        </Root>
		      
        <Logger name="de" level="info" additivity="false">
            <AppenderRef ref="STD" />
            <AppenderRef ref="ERR" />
        </Logger>

        <Logger name="org.solrmarc.tools.Utils" level="info" additivity="false">
            <AppenderRef ref="STD" />
            <AppenderRef ref="ERR" />
        </Logger>
        
        <Logger name="org.solrmarc.MarcPrinter" level="warn" additivity="false">
            <AppenderRef ref="STD" />
            <AppenderRef ref="ERR" />
        </Logger>

        <Logger name="org.solrmarc.MarcImporter" level="info" additivity="false">
            <AppenderRef ref="STD" />
            <AppenderRef ref="ERR" />
        </Logger>

        <Logger name="org.solrmarc.MarcHandler" level="info" additivity="false">
            <AppenderRef ref="STD" />
            <AppenderRef ref="ERR" />
        </Logger>
      
        <Logger name="org.apache.commons" level="error" additivity="false">
            <AppenderRef ref="ERR" />
        </Logger>

    </Loggers>
</Configuration>
